<h1>Ranking</h1>
<table *ngIf = "responseRank" class="table table-striped table-hover"> 
  <thead>
    <th>Jogador</th>
    <th>Partidas</th>
    <th>Vitórias</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor = "let rank of responseRank.data">
      <td>{{rank.player}}</td>
      <td>{{rank.matches}}</td>
      <td>{{rank.wins}}</td>
      <td><a routerLink="/rank/update/{{rank.id}}">Editar</a></td>
    </tr>
  </tbody>
</table>
