<h3>Novo</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label for="player">Jogador</label>
      <input type="text" class="form-control" id="player" required [(ngModel)]="request.player" name="player">
    </div>

    <div class="form-group">
      <label for="matches">Partidas</label>
      <input type="number" class="form-control" id="matches" required [(ngModel)]="request.matches" name="matches">
    </div>

    <div class="form-group">
      <label for="wins">Vitórias</label>
      <input type="number" class="form-control" id="wins" required [(ngModel)]="request.wins" name="wins">
    </div>

    <button type="submit" class="btn btn-success">Ok</button>
  </form>
</div>  